#### Consider the dataset named iris (link given below) which consists of data of different
#### species and their attributes. Perform the following operations to the dataset:
#### a. Import the data set
#### b. Store the split data into separate variables.
#### c. Create a naive Bayes model on the training dataset
#### d. Now predict the data model for a testing dataset that you have separated in bit b.

### Importing the necessary Libraries

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
# importing the dataset:

iris = pd.read_csv("C:/Users/tkjay/Desktop/iris.csv")
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
# Encoding the 'Species' row into Categorical values
from sklearn.preprocessing import LabelEncoder 
le = LabelEncoder()
iris['Species'] = le.fit_transform(iris['Species'])
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

In [9]:
# Changing the index ['For Convinience']
iris = iris.set_index(['Id'])
iris.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
Id
1             5.1           3.5            1.4           0.2        0
2             4.9           3.0            1.4           0.2        0
3             4.7           3.2            1.3           0.2        0
4             4.6           3.1            1.5           0.2        0
5             5.0           3.6            1.4           0.2        0

In [31]:
# Assigning the target and input variables for spliting of the data

target = iris.Species
inputs = iris.iloc[:,0:4]

In [32]:
# Splitting the data as train and test data in the ratio of 70:30 (70 for training and 30 for training)

from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(inputs,target,test_size = 0.3)

In [33]:
len(X_train)

105

In [34]:
len(X_test)

45

In [37]:
# Fitting the data into the model

from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [38]:
model.fit(X_train, Y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [39]:
# Accuracy score

model.score(X_test,Y_test)

0.9555555555555556